<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>

            
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>JPNC Church</title>
  </head>

  <body id="home" class="scrollspy">

    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav class="teal">
        <div class="container">          
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">JNPC <span class="hide-on-small-only">Church</span></a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/#home">Home</a>
            </li>            
            <li>
                <a href="/#timings">Service Timings</a>
            </li>
            <li>
              <a href="/#ministry">Our Ministry</a>
            </li>
            <li>
              <a href="/gallery">Gallery</a>
            </li>
            <li>
              <a href="/#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
    </div>

    <ul class="sidenav" id="mobile-nav">
        <li>
          <a href="/#home" class="sidenav-close">Home</a>
        </li>            
        <li>
            <a href="/#timings" class="sidenav-close">Service Timings</a>
        </li>
        <li>
          <a href="/#ministry" class="sidenav-close">Our Ministry</a>
        </li>
        <li>
          <a href="/gallery" class="sidenav-close">Gallery</a>
        </li>
        <li>
          <a href="/#contact" class="sidenav-close">Contact</a>
        </li>
      </ul>

      

    <!-- Section: Slider -->
    <section class="slider">
    <ul class="slides">
      <li>
        <img src="img/JNPC_bk1.png"> <!-- random image -->
        {{!-- <div class="caption center-align">
          <h2 class="" style="padding-top:160px;"><span class="text-darken-2">Welcome To JNPC Tamil Church!</span></h2>
          <h5 class="hide-on-small-only">Established since 20 years.</h5>
        </div> --}}
      </li>
      <li>
        <img src="img/2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h2>Our Ministry is for everyone</h2>
          <h5 class="hide-on-small-only">We involve in all caste ministries not particular to a division.</h5>
        </div>
      </li>
      <li>
        <img src="img/4.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h2>Our vision is to unite everyone in Christ</h2>
          <h5 class="hide-on-small-only">Our vision is to unite everyone and worship in Christ.</h5>
        </div>
      </li>
      <li>
        <img src="img/3.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h2 style="padding-top:120px;">Join with us to serve CHRIST together! </h2>
          <h5 class="hide-on-small-only">Join with is to server GOD together.</h5>
        </div>
      </li>
    </ul>
    </section>
    
      {{{body}}}

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script>
      // SideNav
      const sideNav = document.getElementsByClassName("sidenav")[0]
      M.Sidenav.init(sideNav, {});

      // Slider
      const slider = document.getElementsByClassName('slider')[0];
      M.Slider.init(slider,{
        indicator: false,
        height: 500,
        transition: 500,
        interval: 5000
      });

      // Scrollspy
      const ss = document.querySelectorAll('.scrollspy');
      M.ScrollSpy.init(ss, {});

      // Material Boxed
      const mb = document.querySelectorAll('.materialboxed');
      M.Materialbox.init(mb, {})
      $(document).ready(function(){
        $('.success_msg').hide();
      });
      $("#form_contact_submit").click(()=> {
        $("#form_contact").hide();
        $('.success_msg').show();
      })
    </script>
  </body>
</html>