
    <!-- Section: Gallery  -->

    <section id="gallery" class="section section-gallery scrollspy">
      <div class="container">
        <h4 class="center">
          <span class="teal-text">
            Photo
          </span> Gallery
        </h4>
        <div class="row">
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="img/gallery/1.jpg" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="img/gallery/2.jpg" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="img/gallery/3.jpg" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="img/gallery/4.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="img/gallery/5.jpg" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="img/gallery/6.jpg" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="img/gallery/7.jpg" alt="">
          </div>
          <div class="col s12 m3">
            <img class="materialboxed responsive-img" src="img/gallery/8.jpg" alt="">
          </div>
        </div>
        <div class="row">
            <div class="col s12 center">
              <a href="/" class="btn btn-large grey darken-3">
                <i class="material-icons left">send</i> Back to Home
              </a>
            </div>
      </div>
    </section>


<!-- footer -->

<footer class="section teal darken-2 white-text center">
  <p class="flow-text">JNPC Church &copy; 2018</p>
</footer>