
    <!-- Section Live -->
    <!-- <section class="section section-live scrollspy">
        <div class="container">
          <div class="row">
            <h4 class="center">Watch our <span class="teal-text">Annual Celeberation Live!</span> @ 6pm - 25/10/2018</h4>
            <div class="col s12" style="text-align:center;">
            <iframe width="450" height="315" src="https://www.youtube.com/embed/hljN4UjzNTA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </section> -->

    <!-- Section: Icon Boxes -->

    <section class="section section-icons grey lighten-4 center scrollspy" id="timings">
      <div class="container">
        <h4 class="center"><span class="teal-text">Service</span> Timings!</h4>
        <div class="row">
          <div class="col s12 m4">
            <div class="card-panel timings">
              <i class="material-icons large">event_available</i>
              <h4>Sunday Tamil Service</h4>
              <p style="padding-top:10px;">
                    - 5.00 AM & 8.00 AM
              </p>
            </div>
          </div>
          <div class="col s12 m4">
              <div class="card-panel timings">
                <i class="material-icons large">event_note</i>
                <h4>Tuesday Women's Prayer</h4>
                <p>
                      - 10.00 AM - 12.00 PM
                </p>
              </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel timings">
                  <i class="material-icons large">date_range</i>
                  <h4>Thursday Fasting Prayer</h4>
                  <p>
                        - 10.00 AM - 12.00 PM
                  </p>
                </div>
              </div>
        </div>
      </div>
    </section>
    <!-- Our Ministries -->

    <section id="ministry" class="section section-ministry scrollspy">
      <div class="container">
      <div class="row">
        <h4 class="center">Our <span class="teal-text">Ministries</span></h4>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="img/2.jpg" alt="">
              <span class="card-title">Village Ministry</span>
            </div>
            <div class="card-content">
              Our ministry is focused on serving people every place, and spread gospel to everyone.
            </div>
          </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="img/3.jpg" alt="">
                <span class="card-title">Old Age Ministry</span>
              </div>
              <div class="card-content">
                We committed oursleves in serving old people by metting them in person.
              </div>
            </div>
          </div>
          <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="img/4.jpg" alt="">
                  <span class="card-title">Ministry for Children</span>
                </div>
                <div class="card-content">
                  We do regular sunday class sessions for kids at our church, to engage them with Christ in their younger age.
                </div>
              </div>
            </div>
      </div>
      <div class="row">
          <div class="col s12 center">
            <a href="/gallery" class="btn btn-large grey darken-3">
              <i class="material-icons left">send</i> JNPC Image Gallery
            </a>
          </div>
        </div>
    </div>
    </section>


 <!-- Section: Contact -->
 <section id="contact" class="section section-contact scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel teal white-text center">
          <i class="material-icons medium">email</i>
          <h5>Contact Us!</h5>
          <p>Kindly email us your queries/prayers to dear pastor, so it will help us to reach you at the earliest.</p>
          <p style="font-weight:600">pastorselvamjnpc@gmail.com</p>
        </div>
        <ul class="collection with-header">
          <li class="collection-header">
              <i class="small material-icons" >location_on</i>
            <h4 style="display: inline-block">Location</h4>
          </li>
          <li class="collection-item">JNPC Tamil Church,</li>
          <li class="collection-item">Anna Street, Old Pallavaram,</li>
          <li class="collection-item">Chennai, 600117</li>
        </ul>
      </div>
      <div class="col s12 m6 form_contact" id="form_contact">
        <div class="card-panel grey lighten-3">
          <h5>Please fill out this form</h5>
          <div class="input-field col s12">
            <input type="text" placeholder="Name" id="name">
            <label for="name">Name</label>
          </div>
          <div class="input-field col s12">
            <input type="email" placeholder="Email" id="email">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input type="text" placeholder="Phone" id="phone">
            <label for="phone">Phone</label>
          </div>
          <div class="input-field col s12">
            <textarea class="materialize-textarea" placeholder="Enter Message" id="message"></textarea>
            <label for="message">Message</label>
          </div>
          <input type="submit" value="Submit" class="btn" id="form_contact_submit">
        </div>
      </div>
        <div class="col s12 m6 success_msg">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title "><h4>Submission success!</h4></span>
              <p>Thanks you for contacting JNPC!. We shall get back to you shortly.</p>
            </div>
            <!-- <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div> -->
          </div>
        </div>
    </div>
  </div>
</section>

<!-- footer -->

<footer class="section teal darken-2 white-text center">
  <p class="flow-text">JNPC Church &copy; 2018</p>
</footer>