#timings .card-panel{
  height: 345px;
}

#timings p{
  font-weight: 450;
}

#ministry .card{
  height: 385px;
}

#gallery img{
  width: 720px;
  height: 200px;
}
.slider h2,
.slider h5{
  color: lightyellow;
}

@media(max-width: 600px) {
  #gallery img{
    width: 720px;
    height: 350px;
  }
}